h1 {
  color: white;
}

.footer,
.content {
  background-color: rgb(0, 21, 41) ;
}

.mapwrapper {
  position: relative;
  margin-right: 3vw;
  height: 70vh;
  overflow: scroll;
}

.Map {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

#form {
  position: absolute;
  z-index: 701;
  top: 10px;
  left: 70px;

  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 2px;

  height: 180px;


}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(12, 12, 143);
  border-radius: 20px;
  border: 3px solid black;
}

.table {
  margin-left: 3vw;
  width: 95%;
  height: 100%;
  cursor: pointer;
  overflow: scroll;
}

.tablewrapper {
  display: flex;
  width: 100%;
  height: 100%;
}



.sider {
  height: 70vh;

}

.TableContainer {
  overflow: scroll;
} 

.additional {
  width: 5%;
  cursor: e-resize;
}