.mapwrapper {
  position: relative;
}

.Map {
  height: 1060px;
  width: 1000px;
  position: relative;
  top: 0;
  left: 0;
}

#form {
  position: absolute;
  z-index: 701;
  top: 10px;
  left: 70px;

  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 2px;

  height: 180px;


}

::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(12, 12, 143);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}

.table {
  margin-left: 5%;
  width: 95%;
  height: 900px;
  cursor: pointer;
  overflow: scroll;
}

.tablewrapper {
  display: flex;
  width: 100%;
  height: 1060px;
  /* cursor: e-resize;
  resize: horizontal;
  overflow: auto; */
}

.rb {
  margin-right: 100px;
  height:1060px;
}

.sider {
  margin-right: 10%;
  min-height: 1060px;
  /* display:flex; */
}

.additional {
  width: 5%;
  cursor: e-resize;
}